<?xml version="1.0" encoding="UTF-8"?>
<config>
  <secondsToEat>1</secondsToEat>
  <secondsToThink>1</secondsToThink>
  <logPeriod>1</logPeriod>
  <timeOut>5</timeOut>
  <outputFile>output.txt</outputFile>
  <logFile>log.txt</logFile>
  <philosofers>
    <philosofer>Socrates</philosofer>
    <philosofer>Aristotle</philosofer>
    <philosofer>Parmenides</philosofer>
    <philosofer>Spinoza</philosofer>
    <philosofer>Nietzsche</philosofer>
  </philosofers>
</config>